<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}">
<div class="main-content" layout:fragment="content" style="margin-top: 100px;">
    <div class="border border-success-subtle"
         style="max-width: 500px; padding: 15px; margin-left: auto; margin-right: auto;">
        <h2 class="text-warning">주문이 완료되었습니다.</h2>
        <p th:text="|안녕하세요 ${memberName}님! 저희 JP Shoppingmall을 이용해주셔서 갑사합니다.|"></p>
        <span><strong th:text="|${displayName} 의 결제가 완료되었습니다.|"></strong></span>

        <h3 class="text-warning mt-2">결제 내역</h3>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-4 text-start">상품금액</div>
                <div class="col-4 text-end" th:text="${totalPrice}">상품금액</div>
            </div>
            <div class="row justify-content-between">
                <div class="col-4 text-start">할인금액</div>
                <div class="col-4 text-end" th:text="${totalDiscountPrice}">할인금액</div>
            </div>
            <div class="row justify-content-between">
                <div class="col-4 text-warning text-start">총 결제금액</div>
                <div class="col-4 text-warning text-end"
                     th:with="finalPrice=${totalPrice} - ${totalDiscountPrice}"
                     th:text="${finalPrice}">총 결제금액
                </div>
            </div>
        </div>

        <h3 class="text-warning mt-2">배송 정보</h3>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-4 text-start">주소</div>
                <div class="col-4 text-end" th:text="${roadNameAddress}">주소</div>
            </div>
            <div class="row justify-content-between">
                <div class="col-4 text-start">상세주소</div>
                <div class="col-4 text-end" th:text="${detailAddress}">상세주소</div>
            </div>
            <div class="row justify-content-between">
                <div class="col-4 text-start">받으실 분 연락처</div>
                <div class="col-4 text-end" th:text="${receiverPhone}">받으실 분 연락처</div>
            </div>
            <div class="row justify-content-between">
                <div class="col-4 text-start">배송 메시지</div>
                <div class="col-4 text-end" th:text="${deliveryMessage}">배송 메시지</div>
            </div>
        </div>
    </div>
</div>
</html>